.button {
    background: $blue;
    color: #fff;
    border: none;
    display: inline-block;
    line-height: 1;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--remove {
    background: #888888;
}